/* lato-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/lato-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/lato-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-900 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Lato";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/lato-v24-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #0e1d28;
}
*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
body {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
	max-width: 1440px;
	margin: 0 auto;
	background-color: var(--foto-text-color);
}
.wrapper {
	max-width: 1060px;
	margin: 0 auto;
}
.wrapper__full {
	max-width: 1262px;
	margin: 0 auto;
}
/* Wpappers media styles */

@media (max-width: 1310px) {
	.wrapper,
	.wrapper__full,
	.top-wrapper__full,
	.tours-wrapper__full,
	.videos__wrapper {
		padding: 0 15px;
	}
}

:root {
	--common-text-color: #000;
	--card-text-color: #102746;
	--foto-text-color: #fff;
	--links-text-color: #006dfe;
	--footer-color: #0e1d28;
}
.section-title {
	position: relative;
	font-size: 35px;
	font-weight: 700;
	line-height: 42px;
	color: var(--card-text-color);
	padding-bottom: 10px;
}
.section-title::after {
	display: block;
	content: "";
	width: 253px;
	height: 3px;
	background-color: var(--links-text-color);
	position: absolute;
	bottom: 0;
	left: 0;
}

/* Header styles */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
	padding-bottom: 20px;
	z-index: 4;
}
.header_active {
	background: var(--footer-color);
}
.header_wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding-top: 56px;
}

.header__logo {
}
.header__logo-link {
}
.header__nav {
}
.header__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 82px;
}
.header__item {
}
.header__link {
	color: var(--foto-text-color);
	text-decoration: none;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}
.header__link:hover,
.header__link:focus,
.header__link:active {
	opacity: 0.75;
}

/* Header burger */

.header__burger {
	display: none;
	position: relative;
	width: 40px;
	height: 28px;
}
.burger {
}
.burger__line {
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	background-color: var(--foto-text-color);
	left: 0;
}
.burger__line__first {
	top: 0;
}
.burger__line__second {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.burger__line__third {
	bottom: 0;
}

/* Header burger media styles*/

@media screen and (max-width: 767px) {
	.header__burger {
		display: block;
	}
	.header__nav {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #000;
		z-index: 5;
		padding: 75px;
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transition: 0.2s linear;
		-o-transition: 0.2s linear;
		transition: 0.2s linear;
	}
	.header__nav-active {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.header__item {
		width: 100%;
		margin-right: 0;
		gap: 30px;
	}
	.header__link {
		font-size: 42px;
		line-height: 40px;
	}
	.header__nav-close {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 53px;
		right: 20px;
		z-index: 6;
	}
	.header__nav-close-line {
		display: block;
		width: 100%;
		height: 2px;
		position: absolute;
		background-color: #fff;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.header__nav-close-line:first-child {
		-webkit-transform: translateY(-50%) rotate(45deg);
		-ms-transform: translateY(-50%) rotate(45deg);
		transform: translateY(-50%) rotate(45deg);
	}
	.header__nav-close-line:last-child {
		-webkit-transform: translateY(-50%) rotate(-45deg);
		-ms-transform: translateY(-50%) rotate(-45deg);
		transform: translateY(-50%) rotate(-45deg);
	}
}
@media screen and (max-width: 500px) {
	.header__nav {
		padding: 75px 30px;
	}
}

/* Intro styles */

.intro {
	min-height: 962px;
	background-image: url(../Images/Main_img-min.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 263px;
	padding-bottom: 223px;
}
.intro__title {
	font-size: 50px;
	font-weight: 700;
	line-height: 60px;
	color: var(--foto-text-color);
	max-width: 619px;
	margin-bottom: 22px;
}
.intro__subtitle {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color: var(--foto-text-color);
	max-width: 546px;
	margin-bottom: 56px;
}
.intro__search-form__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.intro__search-form__field {
	font-size: 18px;
	font-weight: 700;
	width: 297px;
	/* transparent делает фон прозрачным */
	background-image: transparent;
	background: url(../Icons/Circle_icon.svg) no-repeat left 6px;
	background-size: 20px;
	border: 0;
	border-bottom: 2px solid #bfc0c5;
	margin-right: 60px;
	padding-left: 43px;
	padding-bottom: 22px;
	color: var(--foto-text-color);
}
.intro__search-form__field::-webkit-input-placeholder {
	font-size: 18px;
	font-weight: 700;
	color: var(--foto-text-color);
}
.intro__search-form__field::-moz-placeholder {
	font-size: 18px;
	font-weight: 700;
	color: var(--foto-text-color);
}
.intro__search-form__field:-ms-input-placeholder {
	font-size: 18px;
	font-weight: 700;
	color: var(--foto-text-color);
}
.intro__search-form__field::-ms-input-placeholder {
	font-size: 18px;
	font-weight: 700;
	color: var(--foto-text-color);
}
.intro__search-form__field::placeholder {
	font-size: 18px;
	font-weight: 700;
	color: var(--foto-text-color);
}
.intro__search-form__submit {
	padding: 15px 35px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	color: var(--foto-text-color);
	background-color: #1b7dff;
	border: 0;
}
.intro__search-form__submit:hover,
.intro__search-form__submit:focus,
.intro__search-form__submit:active {
	background: #0e66da;
}

/* Intro media styles */

@media screen and (max-width: 960px) {
	.intro__search-form__field {
		margin-bottom: 30px;
	}
	.intro {
		padding: 200px 0;
	}
}
@media screen and (max-width: 500px) {
	.intro {
		padding: 150px 0;
	}
	.intro__title {
		font-size: 32px;
		line-height: 48px;
	}
	.intro__search-form__field {
		margin-right: 0;
		width: 100%;
		margin-bottom: 25px;
	}
	.intro__search-form__field::-webkit-input-placeholder {
		font-size: 16px;
		margin-bottom: 12px;
	}
	.intro__search-form__field::-moz-placeholder {
		font-size: 16px;
		margin-bottom: 12px;
	}
	.intro__search-form__field:-ms-input-placeholder {
		font-size: 16px;
		margin-bottom: 12px;
	}
	.intro__search-form__field::-ms-input-placeholder {
		font-size: 16px;
		margin-bottom: 12px;
	}
	.intro__search-form__field::placeholder {
		font-size: 16px;
		margin-bottom: 12px;
	}
	.intro__search-form__field {
		background: url(../Icons/Circle_icon.svg) no-repeat left top;
	}
	.intro__search-form__submit {
		width: 100%;
	}
}

/* Benefits styles */

.benefits {
	margin-bottom: 131px;
}
.benefits__wrap {
	max-width: 1262px;
	margin: 0 auto;
	background-color: var(--foto-text-color);
	-webkit-box-shadow: 0 2px 20px rgba(21, 24, 26, 0.15993);
	box-shadow: 0 2px 20px rgba(21, 24, 26, 0.15993);
	position: relative;
}
.benefits__title {
	width: 100%;
	padding-top: 93px;
	padding-left: 100px;
	padding-bottom: 88px;
	font-size: 35px;
	font-weight: 700;
	line-height: 42px;
	position: absolute;
	top: 0;
	left: 0;
	/* transform: translateY(-100%); - сдвигает блок по оси Y на 100% его собственной высоты */
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	background-color: var(--foto-text-color);
}
.benefits__cards {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 55px 1fr 55px 1fr;
	grid-template-columns: repeat(3, 1fr);
	gap: 55px;
	padding-top: 35px;
}
.benefits__card {
	max-width: 316px;
	margin-bottom: 109px;
}
.benefits__card-pic {
	margin-bottom: 37px;
	max-width: 66px;
}
.benefits__card-pic__last {
	margin-bottom: 30px;
}
.benefits__card-thumb,
.benefits__card-thumb__last {
	display: block;
}
.benefits__card-thumb__last {
	width: 58px;
	height: 72px;
}
.benefits__card-title {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 26px;
}
.benefits__card-description {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 39px;
}
.benefits__card-more {
	display: inline-block;
	padding-right: 59px;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--links-text-color);
	background: url(../Icons/Arrow-right_icon.svg) no-repeat 95% center;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}
.benefits__card-more:hover,
.benefits__card-more:focus {
	background: url(../Icons/Arrow-right_icon.svg) no-repeat right center;
}

/* Benefits media styles */

@media screen and (max-width: 960px) {
	.benefits {
		margin-bottom: 75px;
	}
	.benefits__cards {
		padding: 0 15px;
		gap: 35px;
	}
	.benefits__card {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-bottom: 60px;
	}
	.benefits__title {
		padding: 55px 15px;
	}
	.benefits__wrap {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.benefits__card-more {
		margin: auto 0 0 0;
	}
}
@media screen and (max-width: 767px) {
	.benefits__card {
		-ms-grid-column-span: 3;
		grid-column: span 3;
	}
}
@media screen and (max-width: 767px) {
	.benefits {
		margin-bottom: 30px;
	}
	.benefits__cards {
		gap: 0;
	}
	.benefits__card {
		-ms-grid-column-span: 3;
		grid-column: span 3;
	}
	.benefits__card-pic {
		margin-bottom: 20px;
	}
	.benefits__card-title {
		margin-bottom: 12px;
	}
	.benefits__card-description {
		margin-bottom: 20px;
	}
}

/* Places styles */

.places {
	margin-bottom: 131px;
}
.places__caption {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 36px;
	gap: 15px;
}
.places__view-all {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--links-text-color);
	padding-right: 59px;
	background: url(../Icons/Arrow-right_icon.svg) no-repeat 95% center;
}
.places__view-all:hover,
.places__view-all:focus {
	background: url(../Icons/Arrow-right_icon.svg) no-repeat right center;
}
.places__cards {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
	grid-template-columns: repeat(6, 1fr);
	gap: 10px;
}
.places__card {
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: 0 2px 20px rgba(21, 24, 26, 0.15993);
	box-shadow: 0 2px 20px rgba(21, 24, 26, 0.15993);
}
.places__card::after {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(21, 24, 36, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.places__card:hover .places__card-pic {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.places__card__size-lg {
	-ms-grid-column-span: 3;
	grid-column: span 3;
}
.places__card__size-sm {
	-ms-grid-column-span: 2;
	grid-column: span 2;
}
.places__card-pic {
	width: 100%;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}
.places__card-pic__size-lg {
	height: 354px;
	-o-object-fit: cover;
	object-fit: cover;
}
.places__card-pic__size-sm {
	height: 283px;
	-o-object-fit: cover;
	object-fit: cover;
}
.places__card-title {
	font-weight: 700;
	font-size: 50px;
	line-height: 60px;
	color: var(--foto-text-color);
	position: absolute;
	bottom: 27px;
	left: 29px;
	z-index: 2;
}
.places__card-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

/* Places media styles */

@media screen and (max-width: 960px) {
	.places__card__size-lg,
	.places__card__size-sm {
		-ms-grid-column-span: 6;
		grid-column: span 6;
	}
	.places__view-all {
		margin-bottom: 25px;
	}
	.places__caption {
		margin-bottom: 0;
	}
}
@media screen and (max-width: 500px) {
	.places {
		margin-bottom: 76px;
	}
	.section-title {
		margin-bottom: 26px;
	}
	.section-title::after {
		width: 78px;
	}
	.places__card-pic__size-lg,
	.places__card-pic__size-sm {
		height: 230px;
	}
	.places__card-title {
		font-size: 36px;
	}
}

/* Tours styles */

.tours {
	margin-bottom: 139px;
}
.tours-wrapper__full {
	max-width: 1271px;
	margin: 0 auto;
}
.tours__tour {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 78px 1fr;
	grid-template-columns: repeat(2, 1fr);
	gap: 78px;
}
.tour {
}
.tour__pic {
}
.tour__thumb {
}
.tour__info {
	padding-left: 47px;
}
.tour__title {
	font-size: 30px;
	line-height: 40px;
	font-weight: 700;
	padding-top: 27px;
	margin-bottom: 85px;
}
.tour__description {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 58px;
}
.tour__more {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--links-text-color);
	padding-right: 59px;
	background: url(../Icons/Arrow-right_icon.svg) no-repeat right center;
}
.tour__more:hover,
.tour__more:focus {
	opacity: 0.85;
}

/* Tours media styles */

@media screen and (max-width: 960px) {
	.tours__tour {
		gap: 35px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.tour__info {
		padding-left: 0;
	}
	.tour__title {
		margin-bottom: 15px;
	}
	.tour__description {
		margin-bottom: 15px;
	}
	.top__card-stats {
		max-width: 386px;
	}
}
@media screen and (max-width: 480px) {
	.tours__tour {
		-ms-grid-columns: (1fr) [1];
		grid-template-columns: repeat(1, 1fr);
	}
	.tour__title {
		padding: 0;
	}
	.tour__info__first-description-card {
		margin-bottom: 25px;
	}
	.tour__reordered-block {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
}

/* Top styles */

.top {
	margin-bottom: 86px;
}
.top-wrapper__full {
	max-width: 1280px;
	margin: 0 auto;
}
.top__title {
	margin-bottom: 54px;
}
.top__cards {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 58px 1fr 58px 1fr 58px 1fr 58px 1fr 58px 1fr;
	grid-template-columns: repeat(6, 1fr);
	gap: 58px;
}
.top__card {
	-ms-grid-column-span: 2;
	grid-column: span 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.top__card-pic {
	position: relative;
	margin-bottom: 45px;
}
.top__card-thumb {
	width: 100%;
}
.top__card-stats {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 14.6%;
	background: rgba(21, 24, 36, 0.6);
	padding: 16px 25px;
}
.top__card-title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: var(--foto-text-color);
	margin: 0 auto 0 0;
}
.top__card-likes {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: var(--foto-text-color);
	padding-right: 20px;
	background: url(../Icons/Heart_icon.svg) no-repeat right center;
	margin-right: 14px;
}
.top__card-likes-value {
}
.top__card-comments {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: var(--foto-text-color);
	padding-right: 23px;
	background: url(../Icons/Message-icon.svg) no-repeat right center;
}
.top__card-comments-value {
}
.top__card-description {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--card-text-color);
	margin-bottom: 41px;
}
.top__card-more {
	width: 118px;
	padding: 12px 19px;
	background-color: var(--links-text-color);
	color: var(--foto-text-color);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	margin: auto 0 0 0;
}
.top__card-more:hover,
.top__card-more:focus,
.top__card-more:active {
	background: #0e66da;
}

/* Top media styles */

@media screen and (max-width: 960px) {
	.top__cards {
		gap: 25px;
	}
	.top__card {
		-ms-grid-column-span: 3;
		grid-column: span 3;
	}
	.top__card-title {
		margin-bottom: 2px;
	}
}
@media screen and (max-width: 500px) {
	.top {
		margin-bottom: 76px;
	}
	.top__card {
		-ms-grid-column-span: 6;
		grid-column: span 6;
	}
	.top__card-stats {
		padding: 10px 25px;
	}
	.top__card-description {
		margin-bottom: 15px;
	}
}
/* Videos styles */

.videos {
	width: 100%;
}
.videos__wrapper {
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
}
.video__item {
	padding-top: 56.25%;
}
.video__element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Footer styles */

.footer {
	background-color: var(--footer-color);
	padding: 119px 0;
}
.footer__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.footer__logo {
	width: 50%;
}
.footer__logo-pic {
}
.footer__nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 50%;
}
.footer__menu {
}
.footer__menu-item {
}
.footer__menu-title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: var(--foto-text-color);
	margin-bottom: 4px;
}
.footer__menu-link {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--foto-text-color);
	text-decoration: none;
	margin-bottom: 3px;
}
.footer__menu-link:hover,
.footer__menu-link:focus,
.footer__menu-link:active {
	opacity: 0.75;
}

/* Footer media styles */

@media screen and (max-width: 960px) {
	.footer {
		padding: 60px 0;
	}
}
@media screen and (max-width: 500px) {
	.footer__logo {
		width: 100%;
		margin-bottom: 24px;
	}
	.footer__nav {
		width: 100%;
	}
	.footer__menu {
		width: 50%;
		margin-bottom: 24px;
	}
}
